@model ProductViewModel
@{
    ViewData["Title"] = "Product List";
}
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <div class="col-md-12 p-a-0 content-body">
        <div>
            <a class="act-btn addProduct" href="Home/NewProduct" title="New"><i class="fa fa-plus">Add Product</i></a>
        </div>
        <table id="product-table" class="table cs-table table-striped table-bordered datatable compact" style="width:100%">
            <thead>
                <tr>
                    <th hidden></th>
                    <th>Product name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Product Unit</th>
                    <th>Product Status</th>
                    <th>Manufacture Date</th>
                    <th> Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produt in Model.ProductList)
                {
                    <tr>
                        <td hidden class="Id">@produt.ProductID"</td>
                        <td class="name">@produt.ProductName</td>
                        <td class="desc">@produt.ProductDescription</td>
                        <td class="price">@produt.ProductPrice</td>
                        <td class="quantity">@produt.ProductQuantity</td>
                        <td class="unit">@produt.ProductUnit</td>
                        <td class="status">@produt.ProductStatus</td>
                        <td class="mfgDate">@produt.ProductManufacturedDate</td>
                        <td class="action">
                            <a class="act-btn editProduct" href="Home/EditProduct?productId=@produt.ProductID&mode=Edit" title="Edit"><i class="fa fa-pencil"></i></a>
                            <a class="act-btn deleteProduct pull-right" href="Home/DeleteProduct?productId=@produt.ProductID" title="Remove"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {

        $('#product-table').DataTable({
            lengthChange: false,
            paging: true,
            bInfo: false,
            ordering: true
        });
    });
</script>
